.bdln {
	top: 5px;
	left: 100px;
	width: 130px;
}
.bbln {
	top: 100px;
	left: 100px;
	width: 130px;
}
.bsln {
	top: 50px;
	left: 100px;
	width: 130px;
}
.scln {
	top: 150px;
	left: 100px;
	width: 130px;
}
.ttln {
	top: 200px;
	left: 100px;
	width: 130px;
}
.tln {
	top: 250px;
	left: 100px;
	width: 130px;
}
.vbln {
	top: 300px;
	left: 100px;
	width: 130px;
}

.bwln {
	top: 5px;
	left: 100px;
	width: 130px;
}
.ckln {
	top: 50px;
	left: 100px;
	width: 130px;
}
.chln {
	top: 100px;
	left: 100px;
	width: 130px;
}
.dln {
	top: 150px;
	left: 100px;
	width: 130px;
}
.srln {
	top: 200px;
	left: 100px;
	width: 130px;
}
/* BADMINTON TITLE  */
body {
	background-image: url('../../image/swimmingbg.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.title-swimming {
	color: black;
	text-shadow: 2px 0 #fff, -2px 0 #fff,
				 0 2px #fff, 0 -2px #fff,
               	 1px 1px #fff, -1px -1px #fff,
               	 1px -1px #fff, -1px 1px #fff;
    background-color: darkblue;
    border: 5px solid blue;
    max-width: 300px;
    width: 100%;
	font-size: 33;
	display: inline-flex;

	/* display center */
	align-content: center;
	justify-content: center;
	position: relative;
	right: 0;
	left: 0;
	margin: auto;

}
#button-title {
	font-size: 22px;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	position: relative;
	right: 0;
	left: 100;
	padding: auto;
	width: 200px;
}

/* TABLE TENNIS PLAYER */
.sw-player-display{
	max-width: auto;
	margin: 10px;
	padding: auto;
}

input[type='text'] {
	border: 1px solid yellow;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 10px 10px;
	text-align: center;
}

.sw-player-grid {
	border: 3px solid yellow;

}

.sw-player-num {
	width: 40px;
}
.sw-player-place {
	width: 40px;
}
.sw-player-timer {
	width: 88px;
	margin-left: 0px;
	margin-right: 0px;
}
div.place.sw-player-place.whitetxt input[type='text'],
td.sw-player-num input[type='text'] {
	width: 15px;
}
div.sw-player1-timer input[type='text'] {
	width: 25px;
}
td.sw-player-place input[type='text'] {
	width: 15px;
}
div.sw-player1-timermin input[type='text'] {
	width: 15px;
	border-right: 1px solid red;
}
div.sw-player1-timermili input[type='text'] {
	width: 23px;
	border-left: 1px solid red;
}
div.sw-player1-timersec input[type='text'] {
	width: 15px;
	border-right: 1px solid red;
	border-left: 1px solid red;
}
.sw-player {;
	width: 80px;
}
.sw-lane {
	border: 3px solid blue;
	margin: auto;
	padding: 10px 4px 10px 4px;
}
.sw-athlete {
	border: 3px solid blue;
	margin: auto;
	padding: 10px 15px 10px 15px;
}
.sw-place {
	border: 3px solid blue;
	margin: auto;
	padding: 10px 5px 10px 5px;
}
.sw-finish {
	border: 3px solid blue;
	margin: auto;
	padding: 10px 15px 10px 15px;
}

/* 	SWIMMING SCORING */
.sw-scoring-box {
	max-width: 250px;
	position: relative;
	border-radius: 50px;
	border: 1px solid red;
}
.sw-score-num {
	padding: 10px;
	width: 40px;
	position: relative;
	top: 10px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}
.sw-score-txt {
	margin: 5px;
	width: 120px;
}
.sw-player-line {
	padding: 10px;
}
.sw-colon {
	top: 5px;
	left: 65px;
}
.sw-dot {
	top: 5px;
	right: 65px;
}

/* OPTION SCORE */
.sw-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1px 0;
	max-width: 215px;
	margin: 0 auto;
}
.sw-score-dropdown,
.sw-score-content {
	width: 100%;
	width: 230px;
}
select {
	width: 50%;
	padding: 5px;
	font-weight: 700;
	border: none;
	border: 2px solid #3f51b5;
	background-color: #e8eaf6;
	background-position: 95% 55%;
	background-size: 22px;
}
.sw-score-content {
	margin: 4px 0;
}
.sw-score-content .sw-data {
	padding: auto;
	background-color: #000;
	border: 2px solid #8bc34a;
	border-radius: 8px;
}
.swData {
	display: none;
}


/* TABLE TENNIS BUTTONS */

.sw-button-txt {
	position: absolute;
	top: 0px;
	left: -10px;
	padding: 5px;
}
.sw-button-save {
	position: relative;
	bottom: -35px;
}


/* Table Tennis TIMER */

.countdown-timer-box {
	position: relative;
	top: 15px;
	left: 10px;
	margin-right: 10px;
	text-align: center;
	background-color: #000;
	color: white;
	border: 1px solid #999;
	padding: 5px;
}
.countdown-timer-num {
	background-color: black;
	color: white;
	padding-left: 10px;
	width: 40px;
	height: 10px;
}
.timer-txt {
	font-size: 12px;
}
#timer-reset-p1, #timer1-reset-p1,
#timer-reset-p2, #timer1-reset-p2,
#timer-reset-p3, #timer1-reset-p3,
#timer-reset-p4, #timer1-reset-p4,
#timer-reset-p5, #timer1-reset-p5,
#timer-reset-p6, #timer1-reset-p6,
#timer-reset-p7, #timer1-reset-p7,
#timer-reset-p8, #timer1-reset-p8,
#timer-reset-p9, #timer1-reset-p9,
#timer-reset-p10, #timer1-reset-p10 {
	color: black;
	position: relative;
	margin-top: 20px;
	background-color: lightyellow;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 2px dimgray;
	color: black;
}
#timer-start-p1, #timer1-start-p1,
#timer-start-p2, #timer1-start-p2,
#timer-start-p3, #timer1-start-p3,
#timer-start-p4, #timer1-start-p4,
#timer-start-p5, #timer1-start-p5,
#timer-start-p6, #timer1-start-p6,
#timer-start-p7, #timer1-start-p7,
#timer-start-p8, #timer1-start-p8,
#timer-start-p9, #timer1-start-p9,
#timer-start-p10, #timer1-start-p10 {
	color: black;
	position: relative;
	top: 10px;
	margin: 10px;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 2px dimgray;
	color: black;
}
#timer-stop-p1, #timer1-stop-p1,
#timer-stop-p2, #timer1-stop-p2,
#timer-stop-p3, #timer1-stop-p3,
#timer-stop-p4, #timer1-stop-p4,
#timer-stop-p5, #timer1-stop-p5,
#timer-stop-p6, #timer1-stop-p6,
#timer-stop-p7, #timer1-stop-p7,
#timer-stop-p8, #timer1-stop-p8,
#timer-stop-p9, #timer1-stop-p9,
#timer-stop-p10, #timer1-stop-p10 {
	color: black;
	position: relative;
	top: 10px;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 2px dimgray;
	color: black;
}

/* DISPLAY TWO */

.d2-timer-p1 {
	top: -20px;
	left: -5px;
}
#displayOne1 {
	bottom: -80px;
	left: 0px;
}
#displayTwo1 {
	bottom: -80px;
	right: 0px;
}
.d2-dp {
	top: -70px;
	left: -20px;

}
.swButton {
	display: none;
}